registry=https://pkgs.dev.azure.com/CC-GENERAL-Y-OPERACION/_packaging/Capital-Lab/npm/registry/                            
always-auth=true
; begin auth token
//pkgs.dev.azure.com/CC-GENERAL-Y-OPERACION/_packaging/Capital-Lab/npm/registry/:username=CC-GENERAL-Y-OPERACION
//pkgs.dev.azure.com/CC-GENERAL-Y-OPERACION/_packaging/Capital-Lab/npm/registry/:_password=ZXNrZ3R5ZjZicWF1NGc0cjM3Z3dvMnl5M2lscTdnaTJ4aWVhemN2Nmo3eHJ1NG1mM2lscQ==
//pkgs.dev.azure.com/CC-GENERAL-Y-OPERACION/_packaging/Capital-Lab/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/CC-GENERAL-Y-OPERACION/_packaging/Capital-Lab/npm/:username=CC-GENERAL-Y-OPERACION
//pkgs.dev.azure.com/CC-GENERAL-Y-OPERACION/_packaging/Capital-Lab/npm/:_password=ZXNrZ3R5ZjZicWF1NGc0cjM3Z3dvMnl5M2lscTdnaTJ4aWVhemN2Nmo3eHJ1NG1mM2lscQ==
//pkgs.dev.azure.com/CC-GENERAL-Y-OPERACION/_packaging/Capital-Lab/npm/:email=npm requires email to be set but doesn't use the value
; end auth token